.result-box {
    border: solid 1px rgb(165, 20, 20);
    color: #fff;
    background-color: rgb(165, 20, 20);
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    width: 45px;
}
.result-box-win {
    border: solid 1px rgb(1, 105, 1);
    color: #fff;
    background-color: rgb(1, 105, 1);
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    width: 45px;
}